<h2>Name: Ajay Shenoy</h2>
<ul><li>Education: Masters in Computer Science</li>
<li>Proffession: Graduate Assistant at Academic Technology Center.</li>
<li>College:California State University-Fullerton</li>
</ul>
<%= link_to image_tag('DSCN4546.JPG'),'www.facebook.com' %>

<p>Navigate back to <%= link_to 'Home', root_path %></p>